@import "~antd/dist/antd.less";

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: white !important;
}

.trigger .anticon svg {
  color: white !important;
}

.trigger:hover {
  color: white;
}

.logo {
  height: 32px;
  margin: 16px;
}

.site layout.site-layout-background {
  background: #fff;
}

.site-page-header {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
}

